.body{
    width: 100vw;
    height: 100vh;
    /* border :solid red; */
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signInFormBody{
    width: 33vw;
    height: 75vh;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;    
    /* border: solid red; */
}
.signInLogo{
    width: 100%;
    height: 12%;
    /* border: solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    font-weight: bold;
    font-size: 22px;
}
.f{
    color: #4285F4;
}
.u{
    color:#DB4437
}
.n{
   color: #F4B400
}
.d{
    color: #4285F4;
}
.o{
  color:  #0F9D58;
}
.a{
    color:#DB4437;
}
.signinBox{
    width: 100%;
    height: 10%;
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: sans-serif;
    /* font-weight: bold; */
}

.signInUserLine{
    width: 100%;
    height: 6%;
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.signInInputBox{
    width: 100%;
    height: 25%;
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}
.InputEmail{
    width: 350px;
    height: 50px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    /* border: solid blue; */
    font-size: 16px;
}
.CreateAccountLogin{
    width: 85%;
    height: 10%;
    /* border: solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
}
/* .CreateAccountLink{
    width: 150%;
    height: 50%;
    border: solid green;
    font-size: 14px;
    font-weight: bold;
    color:#4285F4;    
    margin-top: 5px;
    margin-left: 40px;
} */
.LoginButton{
    width: 75px;
    height: 7%;
    border: solid #4285F4;
    border-radius: 5px;
    background-color: #4285F4;
    font-size: 14px;
    font-weight: bold;
    color:white;
    margin-left: 330px;
    margin-top: 50px;
    /* border: solid red; */
}
.signInFooter{
    width: 33vw;
    height: 10vh;
    /* border: solid red; */
    display: flex;
    flex-direction: row;
    margin-top: 4px;
}
.signInLanguage{
    width: 40%;
    height: 70%;
    border:solid white;
    background-color: transparent;

}
.signInFooterContent{
    width: 60%;
    height: 70%;
    /* border:solid green; */
    font-size: 14px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}